.git
.github
.venv
.env
.pytest_cache
__pycache__
*.py[oc]
*.egg-info
build/
dist/
wheels/
tests/
plans/
.pre-commit-config.yaml
.gitignore
LICENSE
swagger.yaml
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md